
body {
    background-color: #ffc1a4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.bold-big {
    font-weight: bold;
    font-size: 30px;
}

.rounded {
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .responsive-image {
        max-width: 100%;
        height: auto;
    }
}

.no-decoration {
    text-decoration: none;
    color: black;
}
